<h1><%=@restaurant.name %></h1>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>

<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %><br><%= review.rating %></li>
  <% end %>
</ul>

<%= render 'reviews/form' %>

<%= link_to 'Add Review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

